/*Login Placement*/

.bg{
	
}

.door{
	margin-top: -580px;
	margin-left: 360px;
	/*width:auto;*/
	width: 300px;
	height:80%;


}

/*Kitchen Parallax*/

#mixed_colours{
	height: 500px;
	width: 40%;
	height: 300px;
	background-color: lightgrey;
	border-radius: 200px;
	margin-left: 20px;
	padding: 50px;
	
}

#ClearPalette{
	font-family: arial;
	font-weight: bold;
	height: 70px;
	width: 174px;
	border-radius: 80px;
	background-color: white;
}

#ClearPalette:active{
	position:relative;
	top:1px;
}
.selected {
    border: 3px solid black;
}


/*
#simple_sketch
{
	border-color: black;
	border-width: 3px;
	border-style: solid;
	background-color: white;
	border-radius: 100px;
	width: 800px;
	height: 500px;
	margin-left: 100px;
	margin-top: 100px;
}
*/
/*body{
	background-color:#1f4d30;
	width: 1211px;
	height: 768px;
	margin:0px
}*/

	#left_div{ 
		margin-top: 10px;
		/*width: 50%;*/
		/*height: 748px; */
		background-color: white;
		float: left;
		margin-left: 100px;
		border-style: solid;
		border-width: 1px;
		border-color: lightgrey;
	}

	#right_div{
		width: 50%;
		margin-left: 50px;
		height: 100px; 
		/*background-color:#1f4d30; */
		/*display: inline-block; */
	}
	/*#container{width: 1024px;height: 768px;}*/

	#imageColour{
		width: 15%;
		height: 80px; 
		display: inline-block;
		border-radius: 80px;
    	border: 2px solid lightgrey;
	}
	#imageColour.active{
		border: 2px solid black;
	}

.kitchenBackground{
	width: 1024px;
	height: 768px;
	/*margin-top:-40px;
	margin-left: -50px;*/
}

.ui-content{
	padding:0px !important;
}

.Clarence{
	text-align: center;
	margin-left: 700px;
	margin-top: 160px;
}
.oven{
	text-align: center;
	margin-top: 375px;
	margin-left: 270px;
}
.workstation{
	text-align: center;
	margin-top: 400px;
	margin-left: 330px;

}

.shelf{
	text-align: center;
	margin-top: 120px;
	margin-left: 700px;
}

.window{
	text-align: center;
	margin-top: 130px;
	margin-left: 300px;
}

#Button{

	/*margin-top: -100px;*/

}

.back-button-parallax{
	
	margin-top: -200px;
	
	margin-left: 50px;

}
.back-button {
	
 margin-left: 780px;
 margin-top: 30px;

}

.forward-button{

    margin-left: 780px;
    margin-top: 600px;
}