/*Login Placement*/


/*.ui-mobile-viewport ui-overlay-a{
	 background-color: black !important;
}*/




/**/


.bg{
	height: 800px;
}
.bgMixing{
	height: 100%;
}

.door{
	margin-top: -700px;
	margin-left: 360px;
	/*width:auto;*/
	width: 300px;
	height:70%;
}

#close-button{
	width: 50px;
	height: 50px;
}

#open-button{
	width: 50px;
	height: 50px;
}

.play {
	color: white;
}

.pause{
	color: white;
}


/*Kitchen Parallax*/
/*
.ui-icon-loading {
    background: url(images/Loading-color.gif);
    background-size: 100%;
    /*opacity: 100%;*/
    /*width: 100%;
    height:100%;
    background-color: black;
}*/


#ClearPalette{
	font-family: arial;
	font-weight: bold;
	height: 70px;
	width: 174px;
	border-radius: 80px;
	background-color: white;
}

#ClearPalette:active{
	position:relative;
	top:1px;
}
/*.selected {
    border: 3px solid black;
}*/
/*
#workstation{
	-vendor-animation-duration: 10s;
  -vendor-animation-delay: 20s;
  -vendor-animation-iteration-count: infinite;
}*/





.kitchenBackground{
	width: 1024px;
	height: 768px;
	/*margin-top:-40px;
	margin-left: -50px;*/
}

.ui-content{
	padding:0px !important;
}

.Clarence{
	text-align: center;
	margin-left: 700px;
	margin-top: 160px;
}
.oven{
	text-align: center;
	margin-top: 375px;
	margin-left: 270px;
}
.workstation{
	text-align: center;
	margin-top: 400px;
	margin-left: 330px;

}

.shelf{
	text-align: center;
	margin-top: 120px;
	margin-left: 700px;
}

.window{
	text-align: center;
	margin-top: 130px;
	margin-left: 300px;
}


.back-button-parallax{
	
	margin-top: -200px;
	margin-left: 50px;

}
.back-button {
	
 margin-left: 780px;
 margin-top: 30px;

}

.forward-button{

    margin-left: 780px;
    margin-top: 600px;
}


/*mixing*/


.mixing-content{
	margin-top: -676px;
	margin-left: -65px;
	z-index: 10px;
}



.reset{
	width: 15%;
	margin-left: 80px;
	margin-top: -200px;
	padding-bottom: 100px;
}

#mixed_colours {
	height: 500px;
	width: 300px;
	height: 300px;
	background-color: white;
	border-radius: 300px;
	margin-left: 465px;
	margin-top: 100px;
	padding: 50px;

	position: relative;

	-webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;

}


#colors_sketch{
	/*margin-top: 100px;*/
	margin-left: 150px;
	background-color: white;
	border-radius: 100px;
	/*width and height is determined in the <canvas> html */
}

/* red */

#id100{
	width: 80px; 
	height: 80px; 
	background-color: rgb(192,0,0);
	border-radius:100px;

}

/* yellow */

#id010{

	width: 100%; 
	height: 100%; 
	background-color: rgb(255,255,0);
	border-radius:100px;

}

/* blue */

#id001{
	width: 100%;
	height: 100%; 
	background-color: rgb(0,0,192);
	border-radius:100px;
}



	#right_div{
		width: 500px;
		margin-left: 100px;
		height: 100px; 
		margin-top: 100px;
		margin-bottom: -100px;

	}

	#imageColour{
		width: 80px;
		height: 80px; 
		display: inline-block;
		border-radius: 100px;
    	border: 2px solid #FFFFFF;
    	margin-top: -50px;
    	margin-right: 13px;

	}

	/*#imageColour.active{
		border: 2px solid black;
	}
*/

.primary{
	margin-top: 0px;
	margin-left: 150px;
	margin-bottom: -150px;
	

}

.button-decorate{
	
	width: 124px;
	height: 124px;
}



/*sketch part*/

.tools{
	
	height: 30%;
	z-index: 10;
	margin-top: 20px;
	margin-left: 100px;
	width: 100%;
	
}

.ui-link {
	/*height: 100px !important;*/
	display: inline-block;

	/*display: block; if craps out*/
}

/*.ui-page {
	-webkit-backface-visibility: hidden !important;
}
*/


